Please reference README.md for project outline and DATA_DICTIONARY.md for a list of terms. Visuals are available on Tableau public account. All links provided in README.md and on github repo.

### Part One: Importing and Cleaning Hero Fund Data

In [167]:
import pandas as pd
import requests
import numpy as np

Pay attention to the difference between importing an xlsx file vs a csv file. I had to pip install openpyxl in the terminal. Reading in my first data file.

In [168]:
df = pd.read_excel("C:\\Users\\emorr\\OneDrive\\Desktop\\CHM\\medal.xlsx")
df.dtypes

ACTED        object
LAST         object
FIRST        object
ACTSTATE     object
ACTCODE      object
CITY         object
STRANGER     object
DEATH        object
COUNTY       object
YEAR        float64
dtype: object

I use head() frequently for sanity checks.

In [169]:
df.head()

,ACTED,LAST,FIRST,ACTSTATE,ACTCODE,CITY,STRANGER,DEATH,COUNTY,YEAR
0,5/6/2021,BAIR,BRANDON,ID,BV,NaN,NaN,NaN,NaN,2021.0
1,1/13/2022,THOMAS,ADAM LAYMAN,KY,DROWNING,NaN,NaN,NaN,NaN,2022.0
2,5/17/2021,JOHNSON,ROSS C.,FL,DROWNING,NaN,NaN,NaN,NaN,2021.0
3,4/11/2021,PETERKIN,JADEN DESHAWN,NC,BB,NaN,NaN,NaN,NaN,2021.0
4,4/11/2021,PETERKIN,ANTHONY,NC,BB,NaN,NaN,NaN,NaN,2021.0

Let's drop columns I don't need. The names are not needed and I don't need the full date since I have the year. Use inplace=True to change the actual df

In [170]:
df.drop(columns=['LAST', 'FIRST', 'ACTED'], inplace=True)

In [171]:
df.head()

  ACTSTATE   ACTCODE CITY STRANGER DEATH COUNTY    YEAR
0       ID        BV  NaN      NaN   NaN    NaN  2021.0
1       KY  DROWNING  NaN      NaN   NaN    NaN  2022.0
2       FL  DROWNING  NaN      NaN   NaN    NaN  2021.0
3       NC        BB  NaN      NaN   NaN    NaN  2021.0
4       NC        BB  NaN      NaN   NaN    NaN  2021.0

Next I want to change the column names by setting them to an array so I can change them all at once.

In [172]:
df.columns

Index(['ACTSTATE', 'ACTCODE', 'CITY', 'STRANGER', 'DEATH', 'COUNTY', 'YEAR'], dtype='object')

In [173]:
df.columns = ['STATE', 'CODE', 'CITY', 'STRANGER', 'DEATH', 'COUNTY', 'YEAR']

In [174]:
df.head()

  STATE      CODE CITY STRANGER DEATH COUNTY    YEAR
0    ID        BV  NaN      NaN   NaN    NaN  2021.0
1    KY  DROWNING  NaN      NaN   NaN    NaN  2022.0
2    FL  DROWNING  NaN      NaN   NaN    NaN  2021.0
3    NC        BB  NaN      NaN   NaN    NaN  2021.0
4    NC        BB  NaN      NaN   NaN    NaN  2021.0

I had to manually input rows for STRANGER, DEATH and COUNTY since this wasn't determined in the data that was provided. I made a judgement call based on each recording of the medal incident if the person was a stranger.  STRANGER with a Y means yes they were strangers. I found the counties based off the cities provided. DEATH with a Y means the medal winner died during the rescue attempt.  I had attempted to write code to scan all of the incident reports, but the language was too broad since they were written between 1904-2022. I hope to revisit this attempt later when I have more experience. I chose KY, CA, and AK for manual entry with the intention of using all three states for this project. However, after multiple attempts I realized I would need to do each state individually. Due to time constraints, this project with focus on California only.

Now I need to filter my data to keep only the rows and columns of CA. I will use the isin function and create a new df to do this.

In [175]:
state = ['CA']
ca_df = df[df['STATE'].isin(state)]
ca_df

,STATE,CODE,CITY,STRANGER,DEATH,COUNTY,YEAR
16,CA,DROWNING,SAN DIEGO,Y,N,SAN DIEGO,2021.0
17,CA,DROWNING,SAN DIEGO,Y,N,SAN DIEGO,2021.0
27,CA,DROWNING,SANGER,Y,Y,FRESNO,2020.0
33,CA,ANIMAL,LOS ANGELES,Y,N,LA,2021.0
47,CA,DROWNING,SAN DIEGO,Y,N,SAN DIEGO,2020.0
...,...,...,...,...,...,...,...
10066,CA,SUFFOCATION,PIONEER,N,N,AMADOR,1904.0
10075,CA,DROWNING,SAN BERNARDINO,Y,Y,SAN BERNARDINO,1907.0
10076,CA,DROWNING,SAN BERNARDINO,Y,Y,SAN BERNARDINO,1907.0
10079,CA,DROWNING,ANTIOCH,Y,N,CONTRA COSTA,1908.0
10084,CA,DROWNING,SAN DIEGO,Y,N,SAN DIEGO,1908.0

Let's get a feel of what kind of data we have based on type. Let's look at what data is missing and drop what we don't need.

In [176]:
ca_df.dtypes

STATE        object
CODE         object
CITY         object
STRANGER     object
DEATH        object
COUNTY       object
YEAR        float64
dtype: object

In [177]:
ca_df.shape

(736, 7)

In [178]:
ca_df.dropna(inplace=True)

C:\Users\emorr\AppData\Local\Temp\ipykernel_21476\1601242493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ca_df.dropna(inplace=True)

In [179]:
ca_df.shape

(722, 7)

Do I need to drop anything else so when I get to Part Three and merge my data frames they will be easier to read? I don't think I need City since I will be looking at counties. I might not need years after 2010 since my population data stops at 2010, but I'm going to hang onto them in case I have time to do predictive analysis.

In [180]:
ca_df.drop(columns=['CITY'], inplace=True)

C:\Users\emorr\AppData\Local\Temp\ipykernel_21476\431470113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ca_df.drop(columns=['CITY'], inplace=True)

Next I want to get a view of the specifics so when I clean the population data I will have a better idea of what can go and what needs to stay.

In [181]:
ca_df['YEAR'].sort_values(ascending=True).unique()

array([1904., 1907., 1908., 1909., 1910., 1911., 1912., 1913., 1914.,
       1915., 1916., 1917., 1918., 1919., 1920., 1921., 1922., 1923.,
       1924., 1925., 1926., 1927., 1928., 1929., 1930., 1931., 1932.,
       1933., 1934., 1935., 1936., 1937., 1938., 1939., 1940., 1941.,
       1942., 1943., 1944., 1945., 1946., 1947., 1948., 1949., 1950.,
       1951., 1952., 1953., 1954., 1955., 1956., 1957., 1958., 1959.,
       1960., 1961., 1962., 1963., 1964., 1965., 1966., 1967., 1968.,
       1969., 1970., 1971., 1972., 1973., 1974., 1975., 1976., 1977.,
       1978., 1979., 1980., 1981., 1982., 1983., 1984., 1985., 1986.,
       1987., 1988., 1989., 1990., 1991., 1992., 1993., 1994., 1995.,
       1996., 1997., 1998., 1999., 2000., 2001., 2002., 2003., 2004.,
       2005., 2006., 2007., 2008., 2009., 2010., 2011., 2012., 2013.,
       2014., 2015., 2016., 2017., 2018., 2019., 2020., 2021.])

Earliest year 1904, most current year 2021.

In [182]:
ca_df['COUNTY'].unique()

array(['SAN DIEGO', 'FRESNO', 'LA', 'EL DORADO', 'CALAVERAS', 'HUMBOLDT',
       'SAN BERNARDINO', 'RIVERSIDE', 'SACRAMENTO', 'TULARE', 'KERN',
       'SANTA BARBARA', 'ORANGE', 'VENTURA', 'MENDOCINO', 'CONTRA COSTA',
       'STANISLAUS', 'SANTA CRUZ', 'MERCED', 'MARIN', 'SAN JOAQUIN',
       'MONTEREY', 'SANTA CLARA', 'SOLANO', 'ALAMEDA', 'NORTH', 'NEVADA',
       'MARIPOSA', 'INYO', 'PLACER', 'SHASTA', 'TRINITY',
       'SAN LUIS OBISPO', 'SONOMA', 'SAN FRANCISCO', 'SISKIYOU', 'MONO',
       'BUTTE', 'COLUSA', 'SAN MATEO', 'TEHAMA', 'YOLO', 'YUBA', 'LAKE',
       'IMERIAL', 'IMPERIAL', 'KINGS', 'DEL NORTE', 'MADERA', 'TUOLUMNE',
       'SUTTER', 'NAPA', 'HUMBOLDT ', 'LAKE ', 'GLENN ', 'LASSEN',
       'SAN MATEO ', 'AMADOR'], dtype=object)

Awarded in 58 counties

In [183]:
No = ca_df['STRANGER'] == 'N'
ca_df.loc[No, ['COUNTY','YEAR', 'STRANGER']].value_counts()

COUNTY         YEAR    STRANGER
LA             2011.0  N           4
SAN FRANCISCO  1913.0  N           3
LA             1959.0  N           3
SAN MATEO      2000.0  N           3
SAN DIEGO      1965.0  N           3
                                  ..
MARIN          1914.0  N           1
               1923.0  N           1
               1963.0  N           1
               1966.0  N           1
YUBA           1989.0  N           1
Length: 209, dtype: int64

209 of the medal recipients were not strangers.

In [184]:
Yes = ca_df['STRANGER'] == 'Y'
ca_df.loc[Yes, ['COUNTY','YEAR', 'STRANGER']].value_counts()

COUNTY   YEAR    STRANGER
PLACER   1970.0  Y           5
LA       1980.0  Y           5
VENTURA  1987.0  Y           5
LA       1964.0  Y           4
         1967.0  Y           3
                            ..
ORANGE   1963.0  Y           1
         1966.0  Y           1
         1967.0  Y           1
         1970.0  Y           1
YUBA     1997.0  Y           1
Length: 347, dtype: int64

347 of medal recipients were strangers.

In [185]:
ca_df['CODE'].value_counts()

DROWNING         234
BV               161
BB                80
ASSAULT           70
SUFFOCATION       37
MVP               35
ELEVATION         22
ELECTROCUTION     14
GENERAL           13
ANIMAL            13
SV                12
BOAT              12
ICE                5
CAVE-IN            5
IMPENDING EX.      5
MVI                3
MVV                1
Name: CODE, dtype: int64

I think I have the medal data where I want it. Let's move on to reading in the California county population data from the census.

### Part Two: Importing and Cleaning California Population Data

Reading in my second data file.

In [186]:
pop = pd.read_excel("C:\\Users\\emorr\\OneDrive\\Desktop\\CHM\\CAPOP.xlsx")

In [187]:
pop

,COUNTY,Unnamed: 1,INCORP,Unnamed: 3,YEAR 1850,YEAR 1860,YEAR 1870,YEAR 1880,YEAR 1890,YEAR 1900,...,YEAR 1920,YEAR 1930,YEAR 1940,YEAR 1950,YEAR 1960,YEAR 1970,YEAR 1980,YEAR 1990,YEAR 2000,YEAR 2010
0,Alameda,NaN,1853,NaN,NaN,8927.0,24237.0,62976.0,93864.0,130197,...,344177,474883,513011,740315,908209,1071446,1105379,1279182,1443741,1510271
1,Alpine,NaN,1864,NaN,NaN,685.0,539.0,667.0,509.0,309,...,241,323,241,397,484,1097,1113,1208,1175,1204
2,Amador,NaN,1854,NaN,10930.0,9582.0,11384.0,10320.0,11116.0,9086,...,8494,8973,9151,9990,11821,19314,30039,35100,38091,40474
3,Butte,NaN,1850,NaN,12106.0,11403.0,18721.0,17939.0,17117.0,27301,...,34093,42840,64930,82030,101969,143851,182120,203171,220000,211632
4,Calaveras,NaN,1850,NaN,16299.0,8895.0,9094.0,8882.0,11200.0,9171,...,6008,8221,9902,10289,13585,20710,31998,40554,45578,45292
5,Colusa,NaN,1850,NaN,2274.0,6165.0,13118.0,14640.0,7364.0,7732,...,10258,9788,11651,12075,12430,12791,16275,18804,21419,21839
6,Contra Costa,NaN,1850,NaN,5328.0,8461.0,12525.0,13515.0,18046.0,31674,...,78608,100450,298984,409030,556116,656331,803732,948816,1049025,1165927
7,Del Norte,NaN,1857,NaN,1993.0,2022.0,2584.0,2592.0,2408.0,2417,...,4739,4745,8078,17771,14580,18217,23460,27507,28610,27743
8,El Dorado,NaN,1850,NaN,20562.0,10309.0,10683.0,9232.0,8986.0,7492,...,8325,13229,16207,29390,43833,85812,125995,156299,181058,191185
9,Fresno,NaN,1856,NaN,4605.0,6336.0,9478.0,32026.0,37862.0,75657,...,144379,178565,276515,365945,413329,514621,667490,799407,930450,1008654
10,Glenn,NaN,1891,NaN,NaN,NaN,NaN,NaN,5150.0,7172,...,10935,12195,15448,17245,17521,21350,24798,26453,28122,28917
11,Humboldt,NaN,1853,NaN,2694.0,6140.0,15512.0,23469.0,27104.0,33857,...,43233,45812,69241,104892,99692,108525,119118,126518,134623,136463
12,Imperial,NaN,1907,NaN,NaN,NaN,NaN,NaN,NaN,13591,...,60903,59740,62975,72105,74492,92110,109303,142361,174528,179702
13,Inyo,NaN,1866,NaN,NaN,1956.0,2928.0,3544.0,4377.0,6974,...,6555,7625,11658,11684,15571,17895,18281,17945,18546,19016
14,Kern,NaN,1866,NaN,NaN,2925.0,5601.0,9808.0,16480.0,37715,...,82570,135124,228309,291984,330234,403089,543477,661645,839631,909235
15,Kings,NaN,1893,NaN,NaN,NaN,NaN,NaN,9871.0,16230,...,25385,35168,46768,49954,66717,73738,101469,129461,152982,152486
16,Lake,NaN,1861,NaN,NaN,2969.0,6596.0,7101.0,6017.0,5526,...,7166,8069,11481,13786,19548,36366,50631,58309,64665,68163
17,Lassen,NaN,1864,NaN,NaN,1327.0,3340.0,4239.0,4511.0,4802,...,12589,14479,18474,13597,16796,21661,27598,33828,34895,32730
18,Los Angeles,NaN,1850,NaN,11333.0,15309.0,33381.0,101454.0,170298.0,504131,...,2208492,2785643,4151687,6038771,7041980,7477238,8863164,9519338,9818605,10014009
19,Madera,NaN,1893,NaN,NaN,NaN,NaN,NaN,6364.0,8368,...,17164,23314,36964,40468,41519,63116,88090,123109,150865,156255
20,Marin,NaN,1850,NaN,3334.0,6903.0,11324.0,13072.0,15702.0,25114,...,41648,52907,85619,146820,208652,222592,230096,247289,252409,262321
21,Mariposa,NaN,1850,NaN,6243.0,4572.0,4339.0,3787.0,4720.0,3956,...,3233,5605,5145,5064,6015,11108,14302,17130,18251,17131
22,Mendocino,NaN,1850,NaN,3967.0,7545.0,12800.0,17612.0,20465.0,23929,...,23505,27864,40854,51059,51101,66738,80345,86265,87841,91601
23,Merced,NaN,1855,NaN,1141.0,2807.0,5656.0,8085.0,9215.0,15148,...,36748,46988,69780,90446,104629,134558,178403,210554,255793,281202
24,Modoc,NaN,1874,NaN,NaN,NaN,4399.0,4986.0,5076.0,6191,...,8038,8713,9678,8308,7469,8610,9678,9449,9686,8700
25,Mono,NaN,1861,NaN,NaN,430.0,7499.0,2002.0,2167.0,2042,...,1360,2299,2115,2213,4016,8577,9956,12853,14202,13195
26,Monterey,NaN,1850,NaN,4739.0,9876.0,11302.0,18637.0,19380.0,24146,...,53705,73032,130498,198351,247450,290444,355660,401762,415057,439035
27,Napa,NaN,1850,NaN,5521.0,7163.0,13235.0,16411.0,16451.0,19800,...,22897,28503,46603,65890,79140,99199,110765,124279,136484,138019
28,Nevada,NaN,1851,NaN,16446.0,19134.0,20823.0,17369.0,17789.0,14955,...,10596,19283,19888,20911,26346,51645,78510,92033,98764,102241
29,Orange,NaN,1889,NaN,NaN,NaN,NaN,13589.0,19696.0,34436,...,118674,130760,216224,703925,1421233,1932921,2410556,2846289,3010232,3186989
30,Placer,NaN,1851,NaN,13270.0,11357.0,14232.0,15101.0,15786.0,18237,...,24468,28108,41649,56998,77632,117247,172796,248399,348432,404739
31,Plumas,NaN,1854,NaN,4363.0,4489.0,6180.0,4933.0,4657.0,5259,...,7913,11548,13519,11620,11707,17340,19739,20824,20007,19790
32,Riverside,NaN,1893,NaN,NaN,NaN,NaN,NaN,17897.0,34696,...,81024,105524,170046,306191,456916,663199,1170413,1545387,2189641,2418185
33,Sacramento,NaN,1850,NaN,24142.0,26830.0,34390.0,40339.0,45915.0,67806,...,141999,170333,277140,502778,634373,783381,1041219,1223499,1418788,1585055
34,San Benito,NaN,1874,NaN,NaN,NaN,5584.0,6412.0,6633.0,8041,...,11311,11392,14370,15396,18226,25005,36697,53234,55269,64209
35,San Bernardino,NaN,1853,NaN,5551.0,3988.0,7786.0,25497.0,27929.0,56706,...,133900,161108,281642,503591,682233,895016,1418380,1709434,2035210,2181654
36,San Diego,NaN,1850,NaN,4324.0,4951.0,8618.0,34987.0,35090.0,61665,...,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634
37,San Francisco,NaN,1850,NaN,56802.0,149473.0,233959.0,298997.0,342782.0,416912,...,634394,634536,775357,740316,715674,678974,723959,776733,805235,873965
38,San Joaquin,NaN,1850,NaN,9435.0,21050.0,24349.0,28629.0,35452.0,50731,...,102940,134207,200750,249989,291073,347342,480628,563598,685306,779233
39,San Luis Obispo,NaN,1850,NaN,1782.0,4772.0,9142.0,16072.0,16637.0,19383,...,29613,33246,51417,81044,105690,155435,217162,246681,269637,282424
40,San Mateo,NaN,1856,NaN,3214.0,6635.0,8669.0,10087.0,12094.0,26585,...,77405,111782,235659,444387,557361,587329,649623,707163,718451,764442
41,Santa Barbara,NaN,1850,NaN,3543.0,7784.0,9513.0,15754.0,18934.0,27738,...,65167,70555,98220,168962,264324,298694,369608,399347,423895,448229
42,Santa Clara,NaN,1850,NaN,11912.0,26246.0,35039.0,48005.0,60216.0,83539,...,145118,174949,290547,642315,1065313,1295071,1497577,1682585,1781642,1936259
43,Santa Cruz,NaN,1850,NaN,4944.0,8743.0,12802.0,19270.0,21512.0,26140,...,37433,45057,66534,84219,123790,188141,229734,255602,262382,270861
44,Shasta,NaN,1850,NaN,4360.0,4173.0,9492.0,12133.0,17318.0,18920,...,13927,28800,36413,59468,77640,115613,147036,163256,177223,182155
45,Sierra,NaN,1852,NaN,11387.0,5619.0,6623.0,5051.0,4017.0,4098,...,2422,3025,2410,2247,2365,3073,3318,3555,3240,3236
46,Siskiyou,NaN,1852,NaN,7629.0,6848.0,8610.0,12163.0,16962.0,18801,...,25480,28598,30733,32885,33225,39732,43531,44301,44900,44076
47,Solano,NaN,1850,NaN,7169.0,16871.0,18475.0,20946.0,24143.0,27559,...,40834,49118,104833,134597,171989,235203,340421,394542,413344,453491
48,Sonoma,NaN,1850,NaN,11867.0,19819.0,25926.0,32721.0,38480.0,48394,...,62222,69052,103405,147375,204885,299681,388222,458614,483878,488863
49,Stanislaus,NaN,1854,NaN,2245.0,6499.0,8751.0,10040.0,9550.0,22522,...,56641,74866,127231,157294,194506,265900,370522,446997,514453,552878
50,Sutter,NaN,1850,NaN,3390.0,5030.0,5159.0,5469.0,5886.0,6328,...,14618,18680,26239,33380,41935,52246,64415,78930,94737,99633
51,Tehama,NaN,1856,NaN,4044.0,3587.0,9301.0,9916.0,10996.0,11401,...,13866,14316,19276,25305,29517,38888,49625,56039,63463,65829
52,Trinity,NaN,1850,NaN,5125.0,3213.0,4999.0,3719.0,4383.0,3301,...,2809,3970,5087,9706,7615,11858,13063,13022,13786,16112
53,Tulare,NaN,1852,NaN,4638.0,4533.0,11281.0,24574.0,18375.0,35440,...,77442,107152,149264,168403,188322,245738,311921,368021,442179,473117
54,Tuolumne,NaN,1850,NaN,16229.0,8150.0,7848.0,6082.0,11166.0,9979,...,9271,10887,12584,14404,22169,33928,48456,54504,55365,55620
55,Ventura,NaN,1872,NaN,NaN,NaN,5073.0,10071.0,14367.0,18347,...,54976,69685,114647,199138,378497,529174,669016,753197,823318,843843
56,Yolo,NaN,1850,NaN,4716.0,9899.0,11772.0,12684.0,13618.0,13926,...,23644,27243,40640,65727,91788,113374,141092,168660,200849,216403
57,Yuba,NaN,1850,NaN,13668.0,10851.0,11284.0,9636.0,8620.0,10042,...,11331,17034,24420,33859,44736,49733,58228,60219,72155,81575

Right away I see that 2 columns are totally blank. Let's get rid of those. (keep in mind spacing when using the column names)

In [188]:
pop.drop(columns=['Unnamed: 1', 'Unnamed: 3'], inplace=True)

In [189]:
pop.head()

,COUNTY,INCORP,YEAR 1850,YEAR 1860,YEAR 1870,YEAR 1880,YEAR 1890,YEAR 1900,YEAR 1910,YEAR 1920,YEAR 1930,YEAR 1940,YEAR 1950,YEAR 1960,YEAR 1970,YEAR 1980,YEAR 1990,YEAR 2000,YEAR 2010
0,Alameda,1853,NaN,8927.0,24237.0,62976.0,93864.0,130197,246131,344177,474883,513011,740315,908209,1071446,1105379,1279182,1443741,1510271
1,Alpine,1864,NaN,685.0,539.0,667.0,509.0,309,243,241,323,241,397,484,1097,1113,1208,1175,1204
2,Amador,1854,10930.0,9582.0,11384.0,10320.0,11116.0,9086,7793,8494,8973,9151,9990,11821,19314,30039,35100,38091,40474
3,Butte,1850,12106.0,11403.0,18721.0,17939.0,17117.0,27301,30030,34093,42840,64930,82030,101969,143851,182120,203171,220000,211632
4,Calaveras,1850,16299.0,8895.0,9094.0,8882.0,11200.0,9171,6183,6008,8221,9902,10289,13585,20710,31998,40554,45578,45292

Let's see if the counties in both dataframes match. I think I may use County to merge the  dataframes in Part Three.

In [190]:
#be aware this is medal data
ca_df['COUNTY'].unique()

array(['SAN DIEGO', 'FRESNO', 'LA', 'EL DORADO', 'CALAVERAS', 'HUMBOLDT',
       'SAN BERNARDINO', 'RIVERSIDE', 'SACRAMENTO', 'TULARE', 'KERN',
       'SANTA BARBARA', 'ORANGE', 'VENTURA', 'MENDOCINO', 'CONTRA COSTA',
       'STANISLAUS', 'SANTA CRUZ', 'MERCED', 'MARIN', 'SAN JOAQUIN',
       'MONTEREY', 'SANTA CLARA', 'SOLANO', 'ALAMEDA', 'NORTH', 'NEVADA',
       'MARIPOSA', 'INYO', 'PLACER', 'SHASTA', 'TRINITY',
       'SAN LUIS OBISPO', 'SONOMA', 'SAN FRANCISCO', 'SISKIYOU', 'MONO',
       'BUTTE', 'COLUSA', 'SAN MATEO', 'TEHAMA', 'YOLO', 'YUBA', 'LAKE',
       'IMERIAL', 'IMPERIAL', 'KINGS', 'DEL NORTE', 'MADERA', 'TUOLUMNE',
       'SUTTER', 'NAPA', 'HUMBOLDT ', 'LAKE ', 'GLENN ', 'LASSEN',
       'SAN MATEO ', 'AMADOR'], dtype=object)

In [191]:
pop['COUNTY'].unique()

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba'], dtype=object)

Make all the counties upper case.

In [192]:
pop['COUNTY'] = pop['COUNTY'].str.upper()

In [193]:
pop.COUNTY.unique()

array(['ALAMEDA', 'ALPINE', 'AMADOR', 'BUTTE', 'CALAVERAS', 'COLUSA',
       'CONTRA COSTA', 'DEL NORTE', 'EL DORADO', 'FRESNO', 'GLENN',
       'HUMBOLDT', 'IMPERIAL', 'INYO', 'KERN', 'KINGS', 'LAKE', 'LASSEN',
       'LOS ANGELES', 'MADERA', 'MARIN', 'MARIPOSA', 'MENDOCINO',
       'MERCED', 'MODOC', 'MONO', 'MONTEREY', 'NAPA', 'NEVADA', 'ORANGE',
       'PLACER', 'PLUMAS', 'RIVERSIDE', 'SACRAMENTO', 'SAN BENITO',
       'SAN BERNARDINO', 'SAN DIEGO', 'SAN FRANCISCO', 'SAN JOAQUIN',
       'SAN LUIS OBISPO', 'SAN MATEO', 'SANTA BARBARA', 'SANTA CLARA',
       'SANTA CRUZ', 'SHASTA', 'SIERRA', 'SISKIYOU', 'SOLANO', 'SONOMA',
       'STANISLAUS', 'SUTTER', 'TEHAMA', 'TRINITY', 'TULARE', 'TUOLUMNE',
       'VENTURA', 'YOLO', 'YUBA'], dtype=object)

That worked. It looks like the only spelling difference between the data frames is Los Angeles so let's change that with the at() function.

In [194]:
pop.at[18, 'COUNTY'] = 'LA'

In [195]:
pop.COUNTY.unique()

array(['ALAMEDA', 'ALPINE', 'AMADOR', 'BUTTE', 'CALAVERAS', 'COLUSA',
       'CONTRA COSTA', 'DEL NORTE', 'EL DORADO', 'FRESNO', 'GLENN',
       'HUMBOLDT', 'IMPERIAL', 'INYO', 'KERN', 'KINGS', 'LAKE', 'LASSEN',
       'LA', 'MADERA', 'MARIN', 'MARIPOSA', 'MENDOCINO', 'MERCED',
       'MODOC', 'MONO', 'MONTEREY', 'NAPA', 'NEVADA', 'ORANGE', 'PLACER',
       'PLUMAS', 'RIVERSIDE', 'SACRAMENTO', 'SAN BENITO',
       'SAN BERNARDINO', 'SAN DIEGO', 'SAN FRANCISCO', 'SAN JOAQUIN',
       'SAN LUIS OBISPO', 'SAN MATEO', 'SANTA BARBARA', 'SANTA CLARA',
       'SANTA CRUZ', 'SHASTA', 'SIERRA', 'SISKIYOU', 'SOLANO', 'SONOMA',
       'STANISLAUS', 'SUTTER', 'TEHAMA', 'TRINITY', 'TULARE', 'TUOLUMNE',
       'VENTURA', 'YOLO', 'YUBA'], dtype=object)

Since our medal data doesn't start until 1904, let's get rid of the columns with years prior to 1904. I also don't need the year incorporated.

In [196]:
pop.drop(columns=['INCORP', 'YEAR 1850', 'YEAR 1860', 'YEAR 1870', 'YEAR 1880', 'YEAR 1890'], inplace=True)

In [197]:
pop.shape

(58, 13)

In [198]:
pop.dtypes

COUNTY       object
YEAR 1900     int64
YEAR 1910     int64
YEAR 1920     int64
YEAR 1930     int64
YEAR 1940     int64
YEAR 1950     int64
YEAR 1960     int64
YEAR 1970     int64
YEAR 1980     int64
YEAR 1990     int64
YEAR 2000     int64
YEAR 2010     int64
dtype: object

The population data seems in good shape.

### Part Three: Merging the Data

First let's check our columns for each.

In [199]:
ca_df.columns

Index(['STATE', 'CODE', 'STRANGER', 'DEATH', 'COUNTY', 'YEAR'], dtype='object')

In [200]:
pop.columns

Index(['COUNTY', 'YEAR 1900', 'YEAR 1910', 'YEAR 1920', 'YEAR 1930',
       'YEAR 1940', 'YEAR 1950', 'YEAR 1960', 'YEAR 1970', 'YEAR 1980',
       'YEAR 1990', 'YEAR 2000', 'YEAR 2010'],
      dtype='object')

Now let's merge. By merging on the County I will be able to create a new value where the year of the incident will be right there with the population of the corresponding decade in that county. I will use this to make a new column shown in the next few steps.

In [201]:
medal_pop = pd.merge(ca_df, pop)
medal_pop.columns

Index(['STATE', 'CODE', 'STRANGER', 'DEATH', 'COUNTY', 'YEAR', 'YEAR 1900',
       'YEAR 1910', 'YEAR 1920', 'YEAR 1930', 'YEAR 1940', 'YEAR 1950',
       'YEAR 1960', 'YEAR 1970', 'YEAR 1980', 'YEAR 1990', 'YEAR 2000',
       'YEAR 2010'],
      dtype='object')

Sanity check.

In [202]:
medal_pop.head()

,STATE,CODE,STRANGER,DEATH,COUNTY,YEAR,YEAR 1900,YEAR 1910,YEAR 1920,YEAR 1930,YEAR 1940,YEAR 1950,YEAR 1960,YEAR 1970,YEAR 1980,YEAR 1990,YEAR 2000,YEAR 2010
0,CA,DROWNING,Y,N,SAN DIEGO,2021.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634
1,CA,DROWNING,Y,N,SAN DIEGO,2021.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634
2,CA,DROWNING,Y,N,SAN DIEGO,2020.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634
3,CA,DROWNING,Y,N,SAN DIEGO,2020.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634
4,CA,ASSAULT,Y,N,SAN DIEGO,2019.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634

This new column will help my visuals tell a more concise story. It will be easier to see the population of the county for that incident year and the decade group it belongs to.

In [203]:
conditions = [(medal_pop['YEAR'] <= 1910.0),
    (medal_pop['YEAR'] >= 1911.0) & (medal_pop['YEAR']<=1920.0),
    (medal_pop['YEAR'] >= 1921.0) & (medal_pop['YEAR']<=1930.0),
    (medal_pop['YEAR'] >= 1931.0) & (medal_pop['YEAR']<=1940.0),
    (medal_pop['YEAR'] >= 1941.0) & (medal_pop['YEAR']<=1950.0),
    (medal_pop['YEAR'] >= 1951.0) & (medal_pop['YEAR']<=1960.0),
    (medal_pop['YEAR'] >= 1961.0) & (medal_pop['YEAR']<=1970.0),
    (medal_pop['YEAR'] >= 1971.0) & (medal_pop['YEAR']<=1980.0),
    (medal_pop['YEAR'] >= 1981.0) & (medal_pop['YEAR']<=1990.0),
    (medal_pop['YEAR'] >= 1991.0) & (medal_pop['YEAR']<=2000.0),
    (medal_pop['YEAR'] >= 2001.0) & (medal_pop['YEAR']<=2010.0),
    (medal_pop['YEAR'] >= 2011.0) & (medal_pop['YEAR']<=2020.0),
    ]


values = ['Year 1900', 'Year 1910','Year 1920','Year 1930','Year 1940', 'Year 1950', 'Year 1960','Year 1970','Year 1980', 'Year 1990', 'Year 2000', 'Year 2010']

medal_pop['DECADE'] = np.select(conditions, values)

medal_pop

,STATE,CODE,STRANGER,DEATH,COUNTY,YEAR,YEAR 1900,YEAR 1910,YEAR 1920,YEAR 1930,YEAR 1940,YEAR 1950,YEAR 1960,YEAR 1970,YEAR 1980,YEAR 1990,YEAR 2000,YEAR 2010,DECADE
0,CA,DROWNING,Y,N,SAN DIEGO,2021.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634,0
1,CA,DROWNING,Y,N,SAN DIEGO,2021.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634,0
2,CA,DROWNING,Y,N,SAN DIEGO,2020.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634,Year 2010
3,CA,DROWNING,Y,N,SAN DIEGO,2020.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634,Year 2010
4,CA,ASSAULT,Y,N,SAN DIEGO,2019.0,61665,112248,209659,289348,556808,1033011,1357854,1861846,2498016,2813833,3095313,3298634,Year 2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,CA,DROWNING,Y,N,SUTTER,1965.0,6328,10115,14618,18680,26239,33380,41935,52246,64415,78930,94737,99633,Year 1960
711,CA,DROWNING,N,N,NAPA,1962.0,19800,20678,22897,28503,46603,65890,79140,99199,110765,124279,136484,138019,Year 1960
712,CA,DROWNING,N,N,NAPA,1962.0,19800,20678,22897,28503,46603,65890,79140,99199,110765,124279,136484,138019,Year 1960
713,CA,BB,N,N,LASSEN,1913.0,4802,8507,12589,14479,18474,13597,16796,21661,27598,33828,34895,32730,Year 1910
714,CA,SUFFOCATION,N,N,AMADOR,1904.0,9086,7793,8494,8973,9151,9990,11821,19314,30039,35100,38091,40474,Year 1900

Now I can go through and see the population of the county for the year of that act. For example, the next code snippet shows that all acts from 1900-1910 in the highest population county, LA (504,131) there were 5 awards with 2 being strangers. Whereas the smallest population county Lassen (4,802) there was 1 award of a nonstranger. It's worth noting that the counties with the awards for strangers are higher in counties that aren't low population.

In [204]:
nineteen = medal_pop['DECADE'] == 'Year 1910' 
medal_pop.loc[nineteen, ['COUNTY','YEAR 1900', 'STRANGER']].value_counts()

COUNTY          YEAR 1900  STRANGER
LA              504131     N           3
HUMBOLDT        33857      N           3
SAN FRANCISCO   416912     N           3
RIVERSIDE       34696      N           2
SAN DIEGO       61665      Y           2
LA              504131     Y           2
SANTA CRUZ      26140      Y           2
VENTURA         18347      N           1
SANTA CRUZ      26140      N           1
SANTA BARBARA   27738      N           1
ALAMEDA         130197     Y           1
SAN BERNARDINO  56706      N           1
ORANGE          34436      Y           1
                           N           1
MARIN           25114      N           1
LASSEN          4802       N           1
YOLO            13926      N           1
dtype: int64

Let's look at the awards given between 1981-1990 to see if much has changed in 70ish years.

In [205]:
nineteeneighty = medal_pop['DECADE'] == 'Year 1980' 
medal_pop.loc[nineteeneighty, ['COUNTY','YEAR 1980', 'STRANGER']].value_counts()

COUNTY          YEAR 1980  STRANGER
LA              8863164    Y           15
SAN DIEGO       2498016    Y            8
VENTURA         669016     Y            8
SAN BERNARDINO  1418380    Y            7
ORANGE          2410556    Y            7
SANTA CLARA     1497577    Y            4
ALAMEDA         1105379    Y            4
SONOMA          388222     Y            4
SAN FRANCISCO   723959     Y            3
SAN BERNARDINO  1418380    N            3
SACRAMENTO      1041219    Y            3
RIVERSIDE       1170413    Y            3
SANTA CRUZ      229734     Y            3
LA              8863164    N            3
ORANGE          2410556    N            2
KERN            543477     N            2
YUBA            58228      N            2
SAN DIEGO       2498016    N            2
CONTRA COSTA    803732     Y            2
SONOMA          388222     N            2
CONTRA COSTA    803732     N            2
SISKIYOU        43531      Y            2
MONTEREY        355660     N            2
STANISLAUS      370522     N            1
TEHAMA          49625      Y            1
ALAMEDA         1105379    N            1
SAN MATEO       649623     Y            1
                           N            1
SAN JOAQUIN     480628     Y            1
SAN FRANCISCO   723959     N            1
MONO            9956       Y            1
KINGS           101469     Y            1
KERN            543477     Y            1
IMPERIAL        109303     N            1
HUMBOLDT        119118     N            1
YUBA            58228      Y            1
dtype: int64

Let's look at only the number of medal recipients by county.

In [206]:
medal_pop.COUNTY.value_counts()

LA                 128
SAN DIEGO           53
ORANGE              52
SAN FRANCISCO       37
RIVERSIDE           27
SAN BERNARDINO      24
ALAMEDA             22
CONTRA COSTA        22
MONTEREY            21
SAN MATEO           21
VENTURA             21
SACRAMENTO          21
SONOMA              20
SANTA CRUZ          18
HUMBOLDT            18
SANTA CLARA         15
STANISLAUS          14
SANTA BARBARA       13
KERN                13
TULARE              12
PLACER              11
DEL NORTE            9
MENDOCINO            9
FRESNO               9
MARIPOSA             8
MERCED               8
MARIN                8
SAN JOAQUIN          7
EL DORADO            6
YUBA                 6
SOLANO               6
SISKIYOU             6
NEVADA               5
TUOLUMNE             5
SAN LUIS OBISPO      5
SHASTA               5
MONO                 4
BUTTE                3
SUTTER               2
COLUSA               2
TRINITY              2
TEHAMA               2
YOLO                 2
IMPERIAL             2
KINGS                2
INYO                 2
NAPA                 2
LASSEN               1
CALAVERAS            1
MADERA               1
LAKE                 1
AMADOR               1
Name: COUNTY, dtype: int64

Before the final part of this project check out the Tableau dashboard and story.

Now I want to save my medal_pop data frame as a new xlsx file. Uing the ExcelWriter() method. I'm doing this so I can upload the data in Tableau.

In [207]:
datatoexcel = pd.ExcelWriter('ProjectHero.xlsx')

medal_pop.to_excel(datatoexcel)

datatoexcel.save()

### Part Four: Findings

Is a person more likey to risk her or his life to save the life of a stranger, if the act is taking place in a smaller community?    This question stemmed from something I read; the author theorized this to be true based on an unconscious assumption of small town folks that the 'stranger' is a genetic relation unknown. 
<br>
Based on the data I used, I found that population size does not dictate the likelihood of a stranger attempting to save your life.  There were 138 more strangers awarded than nonstrangers across all population sizes.    Of course larger population areas offer more opportunities for someone being in need and being a stranger. 
<br>
<br>
*Interesting thoughts and findings to take with you:*