Project Heroic Age or Heroic Population?
The Carnegie Hero Fund was established in 1905 by Andrew Carnegie who said "we live in a Heroic Age". This project will examine if people are more willing to risk their life for a stranger if they live in a smaller population area. I chose the Carnegie Hero Fund for data because of its requirements and number of years available. The award is given 4 times a year to civilians who voluntarily risks life to an "extraordinary degree" and have "no full measure of responsibility for the safety of the victim". Part One will focuse on cleaning and analysis of the Carnegie Hero Fund data. Part Two will introduce population data from the Census Bureau. Part Three will summarize my finidings.

In [56]:
import pandas as pd

Pay attention to the difference between importing an xlsx file vs a csv file. I had to pip install openpyxl in the terminal

In [57]:
df = pd.read_excel("C:\\Users\\emorr\\OneDrive\\Desktop\\CHM\\medal.xlsx")

In [58]:
df.head()

,ACTED,LAST,FIRST,ACTSTATE,ACTCODE,CITY,STRANGER,DEATH,COUNTY
0,5/6/2021,BAIR,BRANDON,ID,BV,NaN,NaN,NaN,NaN
1,1/13/2022,THOMAS,ADAM LAYMAN,KY,DROWNING,NaN,NaN,NaN,NaN
2,5/17/2021,JOHNSON,ROSS C.,FL,DROWNING,NaN,NaN,NaN,NaN
3,4/11/2021,PETERKIN,JADEN DESHAWN,NC,BB,NaN,NaN,NaN,NaN
4,4/11/2021,PETERKIN,ANTHONY,NC,BB,NaN,NaN,NaN,NaN

Let's drop columns I don't need. Use inplace=True to change the actual df

In [59]:
df.drop(columns=['LAST', 'FIRST'], inplace=True)

In [60]:
df.head()

       ACTED ACTSTATE   ACTCODE CITY STRANGER DEATH COUNTY
0   5/6/2021       ID        BV  NaN      NaN   NaN    NaN
1  1/13/2022       KY  DROWNING  NaN      NaN   NaN    NaN
2  5/17/2021       FL  DROWNING  NaN      NaN   NaN    NaN
3  4/11/2021       NC        BB  NaN      NaN   NaN    NaN
4  4/11/2021       NC        BB  NaN      NaN   NaN    NaN

Next I want to change the column names by setting them to an array so I can change them all at once.

In [61]:
df.columns

Index(['ACTED', 'ACTSTATE', 'ACTCODE', 'CITY', 'STRANGER', 'DEATH', 'COUNTY'], dtype='object')

In [62]:
df.columns = ['DATE', 'STATE', 'CODE', 'CITY', 'STRANGER', 'DEATH', 'COUNTY']

In [63]:
df.head()

        DATE STATE      CODE CITY STRANGER DEATH COUNTY
0   5/6/2021    ID        BV  NaN      NaN   NaN    NaN
1  1/13/2022    KY  DROWNING  NaN      NaN   NaN    NaN
2  5/17/2021    FL  DROWNING  NaN      NaN   NaN    NaN
3  4/11/2021    NC        BB  NaN      NaN   NaN    NaN
4  4/11/2021    NC        BB  NaN      NaN   NaN    NaN

I had to manually input rows for STRANGER, DEATH and COUNTY since this wasn't determined in the data that was provided. I made a judgement call based on each recording of the medal incident if the person was a stranger.  STRANGER with a Y means yes they were strangers. I found the counties based off the towns provided. DEATH with a Y means the medal winner died during the rescue attempt.  I had attempted to write code to scan all of the incident reports, but the language was too broad since they were written between 1905-2022. I hope to revisit this attempt later when I have more experience. I chose KY, CA, and AK for manual entry so they will be the focuse of this project.

Now I need to filter my data to keep only the rows and columns of KY, CA, AK. I will use the isin function and creating a new df to do this.

In [64]:
options = ['KY', 'AK', 'CA']
new_df = df[df['STATE'].isin(options)]
new_df.head()

                   DATE STATE      CODE         CITY STRANGER DEATH     COUNTY
1             1/13/2022    KY  DROWNING          NaN      NaN   NaN        NaN
16             7/3/2021    CA  DROWNING    SAN DIEGO        Y     N  SAN DIEGO
17  2021-07-03 00:00:00    CA  DROWNING    SAN DIEGO        Y     N  SAN DIEGO
27             6/9/2020    CA  DROWNING       SANGER        Y     Y     FRESNO
33            7/23/2021    CA    ANIMAL  LOS ANGELES        Y     N         LA